<%- include('partials/header.ejs') %>
<create>
  <div class="createPage py-4">
    <div class="input-group" id="createDiv">
      <div id="inputArea">
        <textarea class="form-control" placeholder="Type your blog....." aria-label="With textarea" id="inputBox"></textarea>
      </div>
      <div id="inputButton">
        <a href="/save">
          <button type="button" class="btn btn-success btn-md px-4 gap-3" id="blogButton">
            Save
          </button>
        </a>
      </div>
    </div>
  </div>
</create>
<%- include('partials/footer.ejs') %>
