<%- include('partials/header.ejs') %>
<blog class="">
  <div class="homePage mx-4 py-4">
    <div class="bgImgDiv">
      <img class="bgImage flex-shrink-1" src="images/background.jpg" alt="Background image" />
    </div>
    <div class="bgTextDiv ms-auto">
      <h1 class="text-center flex-grow-1" id="welcomeText">Welcome to Blogger Mania</h1>
      <h3 class="text-center flex-grow-1" id="infoText">A creative Blogging platform for you</h3>
    </div>
  </div>
</blog>
<%- include('partials/footer.ejs') %>
